body{
	background-color: #e9ebee;
 	height: 600px;
}

#header {
	background-color: #3b5998;
	/*height: 0;*/
	text-align: center;
}

.white-text{
	color: white !important;
}

#wrapper {
	margin-top: 16px;
 	margin-bottom: 16px;
}

#main {
  overflow: auto;
}

#main::-webkit-scrollbar {
  display: none;
}

#menu{
	font-size: 12px;
}

#menu i{
	font-size: 20px;
	vertical-align: middle;
}

#header ul .glyphicon , #header ul i {
    font-size: 22px;
    color: rgba(0,0,0,0.75);
}

#header .caret{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000000;
}

#header .navbar-right >li a{
	padding-right: 2px;
}

#header .navbar-right .dropdown >a, #header .navbar-right .dropdown li a{

	padding-right: 15px;
}

#header .navbar-right .dropdown >a:active, #header .navbar-right .dropdown >a:hover, #header .navbar-right .dropdown >a:focus {
	padding-bottom: 12px;
	background-color: rgba(0,0,0,0.4) !important;
}

.list-heading {
    padding: 20px 15px 0 15px;
}

.panel-body .glyphicon {
  margin-left: 10px;
  margin-right: 4px;
}


.text-post {
  margin-bottom: 15px;
  margin-top: 0;
}

.image-post {
  margin-bottom: 15px;
}

.comment {
	margin: 0;
}
/*
nav#header {
	padding: 0 100px;
}*/

#header .input-group input[type="text"]{
	width: 450px;
}

#menu .nav-pills li a{
	color: black;
}

#menu .nav-pills p {
	font-weight: bold;
	color: gray;
}

#menu #active i{
	color: gray; 
}

#menu li a:hover{
	background-color: rgba(255,255,255,0.6);
}

#menu #active, #menu #active:hover, #menu #active:active, #menu #active:focus{
	font-weight: bold;
	background-color: rgba(255,255,255,0.6);
}

#menu #active i.fa-newspaper{
	color: #79a6ff;
}

#menu i.fa-comment-alt {
	color: #4080ff;
}

#menu i.fa-calendar-alt{
	color: #f36b7e;
}

#menu i.fa-images{
	color: #f8a058;
}

#menu i.fa-gamepad{
	color: #79a2af;
}

#menu i.fa-file{
	color: #fb734c;
}

#activity {
	color: #417aef;
}

#menu i.fa-code{
	color: #e64d3e;
}

#menu i.fa-adn{
	color: #6bcebb;
}

#menu .badge {
	background-color: #c7c1c1; 
}

.notify{

	width: 14px;
    background-color: rgba(255,0,0,0.78);
    margin-left: 28px;
    position: relative;
    margin-top: 5px;
    font-size: 12px;
    height: 15px;
    border-radius: 2px;
    color: rgba(255,255,255,0.8);
}

.notify-active{
	position: absolute !important;
}

.navbar-brand img{
	width: 36px;
}

.navbar-brand{
	padding: 5px 15px;
}

.profile{
	padding-top: 8px !important;
}

.like_comment{
	padding-top: 16px;
}

.like_comment a{
	color: black;
}

.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
}

.load{
	text-align: center;
}

.load button{
	width: 22%;
}

#birthday {
	padding: 6px 11px;
    background-color: #fff;
    height: 32px;
    margin-bottom: 5px;
}

#birthday p:hover{
	background-color: #e9ebee;
}

#birthday span{
	color: #f36b7e;
}

.suggested span {
	vertical-align: middle;
}

#top span, #movie span, #sports span{
	font-size: 1.1em;
    font-weight: bold;
    padding-left: 4px;
}

#top p, #movie p, #sports p{
	padding-left: 15px;
    color: #222;
}

#top a, #movie a, #sports a{
	text-decoration: none;
}

#top p > span, #movie p > span, #sports p > span{
	color: gray;
	font-size: 12px;
}

.list-group-item{
	border: 0;
	padding: 6px 15px 2px 15px;

}