#header {
	background-color: #3b5998;/*#4267b2;*/
	height: 0;
	text-align: center;
}

.white-text{
	color: white !important;
}

#wrapper {
	margin-top: 16px;
 	margin-bottom: 16px;
}

#main {
  overflow: auto;
}

#main::-webkit-scrollbar {
  display: none;
}

#main,
#menu,
#sidebar {
	background-color: #e9ebee;
 	height: 600px;
}

#header ul .glyphicon , #header ul i {
    font-size: 22px;
    color: rgba(0,0,0,0.75);
}

#header .caret{
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000000;
}

#header .navbar-right >li a{
	padding-right: 2px;
}

#header .navbar-right .dropdown >a, #header .navbar-right .dropdown li a{

	padding-right: 15px;
}

#header .navbar-right .dropdown >a:active, #header .navbar-right .dropdown >a:hover, #header .navbar-right .dropdown >a:focus {
	padding-bottom: 12px;
	background-color: rgba(0,0,0,0.4) !important;
}

.list-heading {
    padding: 20px 15px 0 15px;
}

.panel-body .glyphicon {
  margin-left: 10px;
  margin-right: 4px;
}

.text-post {
  margin-bottom: 15px;
  margin-top: 0;
}

.image-post {
  margin-bottom: 15px;
}

.comment {
	margin: 0;
}

nav#header {
	padding: 0 100px;
}

#header .input-group input[type="text"]{
	width: 450px;
}